.indexPart1 { width: 679px; height: 324px; position: relative; overflow: hidden; }
.indexPart1 .list li { width: 679px; height: 324px; }
.indexPart1 .btnDiv { position: absolute; left: 0px; bottom: 0px; width: 697px; overflow: hidden; }
.indexPart1 .btnDiv span { display: block; float: left; text-align: center; width: 169px; height: 36px; line-height: 36px; background: url(../image/bg1.png); color: #FFF; margin-right: 1px; font-size: 14px; }
.indexPart1 .btnDiv .on { background: url(../image/bg1on.png); }
.indexPart2 { background: url(../image/indexPart2.jpg) left top no-repeat; height: 323px; width: 299px; }
.indexPart2 .title { height: 49px; line-height: 49px; position: relative; overflow: hidden; }
.indexPart2 .title h1 { font-weight: 400; font-size: 18px; padding-left: 52px; }
.indexPart2 .title a { position: absolute; top: 0px; right: 20px; color: #666; }
.indexPart2 .title a:hover { color: #104681; }
.indexPart2 .list { padding: 5px 20px; }
.indexPart2 li { height: 43px; line-height: 42px; overflow: hidden; background: url(../image/line.gif) bottom repeat-x; }
.indexPart2 li a { font-size: 14px; padding-left: 13px; background: url(../image/ico1.png) left center no-repeat; }
.indexPart3 { background: url(../image/indexPart3.png) left top no-repeat; height: 246px; }
.indexPart3 .title { height: 75px; line-height: 60px; position: relative; overflow: hidden; font-size: 18px; padding-left: 52px; }
.indexPart3 li { height: 48px; line-height: 30px; position: relative; padding-left: 79px; font-size: 14px; }
.indexPart3 li em { position: absolute; left: 20px; top: 0px; white-space: nowrap; }
.indexPart3 .input1 { float: left; width: 198px; height: 28px; line-height: 28px; text-indent: 10px; border: #bebebe solid 1px; }
.indexPart3 .btn1 { float: left; width: 93px; height: 30px; background: #b39241; color: #FFF; font-size: 14px; }
.indexPart3 .btn2 { background: #154983; margin-left: 14px; }
.indexPart4 { height: 113px; width: 299px; overflow: hidden; position: relative; }
.indexPart4 ul { width: 110%; }
.indexPart4 li { float: left; width: 154px; height: 53px; }
.indexPart4 a { display: block; position: relative; background: url(../image/indexPart4.gif) left top no-repeat; height: 42px; line-height: 42px; font-size: 14px; color: #154983; padding-left: 66px; }
.indexPart4 a img { position: absolute; left: 12px; top: 9px; }
.indexPart5 { height: 123px; width: 259px; margin-top: 12px; overflow: hidden; position: relative; }
.indexPart5 ul { width: 120%; }
.indexPart5 li { float: left; background: url(../image/line.gif) bottom repeat-x; height: 39px; line-height: 38px; overflow: hidden; padding: 0 10px 0 0; position: relative; top: -1px; }
.indexPart5 li div { background: url(../image/ico1.gif) right center no-repeat; }
.indexPart5 li a { padding: 0 13px 0 10px; background: url(../image/ico1.png) left center no-repeat; font-size: 14px; white-space: nowrap; }
.indexPart5 .li_01 { background: none; }
.indexPart6 { height: 277px; padding-top: 10px; }
.indexPart6 .box { display: none; height: 98px; overflow: hidden; position: relative; padding: 0 95px 0 119px; }
.indexPart6 .imgDiv { position: absolute; left: 0px; top: 15px; }
.indexPart6 .name { font-size: 14px; line-height: 24px; position: relative; top: -2px; padding-top: 15px; }
.indexPart6 .content { line-height: 22px; text-align: justify; color: #666; }
.indexPart6 .time { position: absolute; top: 15px; right: 0px; text-align: center; width: 60px; height: 68px; border-left: #e3e2e2 solid 1px; padding-left: 12px; color: #ccc; font-size: 30px; font-weight: bold; }
.indexPart6 .time div { font-size: 14px; padding: 9px 0 0 0; }
.indexPart6 .name2 { height: 34px; line-height: 33px; overflow: hidden; position: relative; background: url(../image/line1.gif) bottom repeat-x; font-size: 14px; color: #999; }
.indexPart6 .name2 em { position: absolute; top: 0px; right: 0px; white-space: nowrap; }
.indexPart6 .name2 a { display: block; padding-left: 13px; background: url(../image/ico1.png) 2px center no-repeat; }
.indexPart6 .liNow .box { display: block; }
.indexPart6 .liNow .name2 { display: none; }
.indexPart7 { height: 135px; }
.indexPart7 .imgDiv { padding-top: 21px; }
.indexPart7 .list { width: 478px; overflow: hidden; position: relative; top: 12px; }
.indexPart7 ul { width: 120%; }
.indexPart7 li { float: left; background: url(../image/line.gif) top repeat-x; position: relative; top: -1px; height: 35px; line-height: 34px; width: 207px; margin-right: 60px; }
.indexPart7 li a { padding: 0 0 0 10px; background: url(../image/ico1.png) left center no-repeat; font-size: 14px; }
.indexPart8 { margin-left: -20px; margin-right: -20px; height: 168px; position: relative; }
.indexPart8 .btn { position: absolute; left: 138px; top: -33px; display: block; background: url(../image/btn2.png) left top no-repeat; width: 80px; height: 23px; line-height: 23px; text-align: center; color: #FFF; }
.indexPart8 .list { padding: 22px 0 0 8px; }
.indexPart8 li { float: left; width: 196px; height: 124px; position: relative; text-align: center; }
.indexPart8 .imgDiv { padding: 11px 0 0 0; display: table; text-align: center; width: 171px; height: 102px; }
.indexPart8 .imgDiv a { display: table-cell; vertical-align: middle; }
.indexPart8 .imgDiv img { max-height: 102px; max-width: 171px; }
.indexPart8 .name a { display: none; }
.indexPart8 .liNow { z-index: 9; }
.indexPart8 .liNow .imgDiv { padding-top: 0px; width: 208px; }
.indexPart8 .liNow img { position: relative; left: -18px; max-width: 208px; max-height: 125px; }
.indexPart8 .liNow .name a { display: block; position: absolute; left: -18px; bottom: 0px; width: 208px; height: 31px; line-height: 31px; background: url(../image/bg1on.png); color: #FFF; font-size: 14px; }
.indexPart9 { width: 297px; }
.indexPart9 .bg { min-height: 283px; _height: 283px; padding: 0 18px; }
.indexPart9 .tab { height: 49px; border-bottom: #12467d solid 1px; }
.indexPart9 .tab li { float: left; font-size: 18px; color: #666; padding: 15px 20px 0 0; }
.indexPart9 .tab .liNow { color: #13467d; }
.indexPart9 dl { height: 29px; line-height: 29px; overflow: hidden; background: #f0f0f0; }
.indexPart9 dd { float: left; height: 29px; padding-left: 12px; }
.indexPart9 .ddNow { color: #b99845; }
.indexPart9 dt { float: right; height: 29px; border-left: #c0bfbf solid 1px; padding-left: 13px; width: 62px; background: url(../image/ico2.png) 55px center no-repeat; }
.indexPart9 .imgDiv { padding-top: 12px; }
.indexPart10 { width: 677px; }
.indexPart10 .bg { min-height: 283px; _height: 283px; }
.indexPart10 .list { padding-top: 10px; overflow: hidden; position: relative; }
.indexPart10 li { background: url(../image/line.gif) bottom repeat-x; position: relative; top: 1px; height: 36px; line-height: 35px; width: 209px; float: left; }
.indexPart10 li a { font-size: 14px; padding-left: 13px; background: url(../image/ico1.png) left center no-repeat; }
.about { font-size: 14px; line-height: 24px; text-align: justify; padding: 30px 0; }
.about .imgDiv { padding-bottom: 25px; text-align: center; }
.leader { padding-left: 290px; min-height: 400px; _height: 400px; position: relative; }
.leader .imgDiv { position: absolute; left: 0px; top: 40px; }
.leader h1 { font-weight: 400; font-size: 24px; background: url(../image/line.gif) bottom repeat-x; padding: 50px 0 20px 0; }
.leader h2 { padding: 25px 0; }
.leader .content { font-size: 14px; line-height: 24px; text-align: justify; }
.leader2 { padding-top: 30px; width: 725px; overflow: hidden; position: relative; }
.leader2 ul { width: 110%; }
.leader2 li { float: left; font-size: 14px; height: 40px; line-height: 40px; width: 335px; margin-right: 60px; border-right: #ededed solid 1px; overflow: hidden; }
.news { padding-top: 10px; }
.news li { height: 120px; padding-left: 90px; overflow: hidden; position: relative; background: url(../image/line.gif) bottom repeat-x; }
.news .time { position: absolute; left: 0px; top: 26px; width: 73px; height: 72px; border-right: #dedede solid 1px; }
.news .time div { font-family: Georgia; font-size: 28px; font-weight: bold; line-height: 30px; position: relative; top: -2px; text-align: center; width: 50px; }
.news .time div b { font-size: 34px; }
.news .name { font-size: 16px; padding: 23px 0 5px 0; }
.news .content { font-size: 14px; line-height: 24px; text-align: justify; color: #666; }
.news .liNow .time div, .news .liNow .name a { color: #b39242; }
.newShow .title { text-align: center; padding-top: 25px; font-size: 18px; }
.newShow .time { text-align: center; color: #666; padding: 15px 0 30px 0; }
.newShow .content { font-size: 14px; line-height: 24px; text-align: justify; }
.newShow .imgDiv { text-align: center; padding: 25px 0; }
.news_01 { height: 215px; position: relative; overflow: hidden; padding-left: 287px; }
.news_01 .imgDiv { position: absolute; left: 0px; top: 29px; }
.news_01 .name { font-size: 18px; padding: 25px 0 15px 0; }
.news_01 .content { font-size: 14px; line-height: 24px; text-align: justify; color: #666; }
.news_01 .time { color: #999; font-size: 14px; padding-top: 15px; }
.news2 li { height: 108px; position: relative; border-bottom: #d2d2d2 solid 1px; }
.news2 .name { padding: 15px 0 10px 0; font-size: 16px; }
.news2 .time { position: absolute; top: 18px; right: 0px; white-space: nowrap; color: #999; }
.news2 .content { font-size: 14px; line-height: 24px; color: #666; }
.news3 { padding-top: 9px; }
.news3 li { height: 137px; padding-left: 162px; overflow: hidden; position: relative; background: url(../image/line.gif) bottom repeat-x; }
.news3 .li_01 { padding: 0px; }
.news3 .imgDiv { position: absolute; left: 0px; top: 20px; }
.news3 .name { font-size: 16px; padding-top: 18px; }
.news3 .name a { color: #b39242; }
.news3 .content { font-size: 14px; line-height: 24px; text-align: justify; padding: 7px 0; }
.news3 .time { color: #999; }
.news3 .btn { position: absolute; right: 0px; bottom: 20px; white-space: nowrap; }
.news4 { padding-top: 9px; }
.news4 li { padding: 18px 0; background: url(../image/line.gif) bottom repeat-x; min-height: 50px; position: relative; }
.news4 .name { font-size: 16px; }
.news4 .name a { color: #b39242; }
.news4 .content { font-size: 14px; line-height: 24px; text-align: justify; padding: 7px 0; }
.news4 .time { color: #999; }
.news4 .more { position: absolute; right: 0px; bottom: 18px; white-space: nowrap; }
.news4 .btnDiv { position: absolute; bottom: 17px; right: -9px; white-space: nowrap; color: #999; }
.news4 .btnDiv a { color: #104681; padding: 0 9px; }
.guide .title { text-align: center; padding: 35px 0 40px 0; font-size: 18px; }
.guide .content { font-size: 14px; line-height: 24px; text-align: justify; }
.member { width: 1000px; overflow: hidden; position: relative; padding-top: 30px; }
.member ul { width: 110%; }
.member li { float: left; width: 182px; height: 172px; overflow: hidden; text-align: center; font-size: 14px; line-height: 44px; margin-right: 23px; }
.member li a { color: #999; }
.member li a:hover { color: #b39242; }
.memberInfo { font-size: 14px; line-height: 24px; text-align: justify; padding-top: 15px; }
.memberInfo .title { font-size: 18px; padding: 25px 0; }
.memberProduct { width: 725px; overflow: hidden; position: relative; padding-top: 30px; }
.memberProduct h1 { font-weight: 400; position: relative; top: -15px; }
.memberProduct ul { width: 110%; }
.memberProduct li { float: left; width: 163px; height: 155px; overflow: hidden; text-align: center; font-size: 14px; line-height: 44px; margin-right: 24px; }
.memberProduct li a { color: #666; }
.memberProduct li a:hover { color: #b39242; }
.memberProductShow .title { text-align: center; font-size: 18px; padding: 25px 0 6px 0; }
.memberProductShow .msg { text-align: center; color: #666; padding-bottom: 15px; font-size: 14px; }
.memberProductShow .imgDiv { text-align: center; padding-bottom: 35px; }
.memberProductShow #bigImg td { height: 400px; }
.memberProductShow #bigImg img { max-width: 100%; max-height: 100%; }
.memberProductShow h1 { font-weight: 400; }
.memberProductShow .content { font-size: 14px; line-height: 26px; text-align: justify; padding: 10px 0 25px 0; }
.contact .map { padding: 30px 0 40px 0; }
.contact .list li { float: left; width: 270px; height: 95px; position: relative; padding-left: 63px; font-size: 14px; line-height: 24px; }
.contact .list .imgDiv { position: absolute; left: 0px; top: 0px; }
.contact .list h1 { font-weight: 400; font-size: 18px; }
.contact .content { background: url(../image/line.gif) top repeat-x; font-size: 14px; line-height: 24px; padding: 30px 0; }
.login { background: url(../image/nimg1920.jpg) center top no-repeat; height: 600px; position: relative; }
.login .wal { background: url(../image/login.png) left top no-repeat; width: 595px; height: 206px; position: relative; top: 120px; padding-top: 120px; font-size: 14px; }
.login li { height: 47px; line-height: 36px; position: relative; padding-left: 195px; }
.login li em { position: absolute; left: 0px; top: 0px; display: block; width: 185px; text-align: right; }
.login li .input1 { float: left; background: url(../image/input1.png) left top no-repeat; width: 278px; height: 36px; line-height: 36px; text-indent: 10px; font-size: 14px; }
.login .btn1 { float: left; width: 130px; height: 38px; font-size: 14px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.login .btn2 { margin-left: 17px; background: url(../image/btn1.png) right top no-repeat; }
.login .msg { text-align: center; padding: 10px 0 0 65px; }
.reg { background: url(../image/reg.jpg) center top no-repeat; background-size: cover; padding-bottom: 40px; }
.reg .wal { background: url(../image/bg2.png); padding: 0 65px 50px 65px; width: 870px; min-height: 200px; _height: 200px; }
.reg h1 { font-size: 24px; font-weight: 400; padding: 45px 0 10px 0; border-bottom: #e1e1e1 solid 1px; margin-bottom: 45px; }
.reg li { height: 49px; line-height: 36px; position: relative; padding-left: 305px; font-size: 14px; }
.reg li em { position: absolute; left: 0px; top: 0px; display: block; width: 295px; text-align: right; }
.reg li .input1 { float: left; background: url(../image/input2.png) left top no-repeat; width: 278px; height: 36px; line-height: 36px; text-indent: 10px; font-size: 14px; }
.reg li .input2 { background: url(../image/input3.png) left top no-repeat; width: 137px; }
.reg .tips { float: left; white-space: nowrap; padding-left: 15px; color: #999; }
.reg .btn { float: left; padding-left: 12px; }
.reg .btn a { display: block; background: url(../image/btn3.png) left top no-repeat; width: 129px; height: 36px; text-align: center; }
.reg .btn1 { float: left; width: 130px; height: 38px; font-size: 14px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.reg .btn2 { margin-left: 17px; background: url(../image/btn1.png) right top no-repeat; }
.reg .li_01 input { position: relative; left: -2px; top: 2px; }
.reg .li_02 { color: #999; }
.password { text-align: center; }
.password .msg { font-size: 16px; padding: 15px 0 70px 0; }
.password .tel { height: 200px; font-size: 18px; }
.password .tel a { display: inline-block; width: 210px; height: 47px; line-height: 47px; background: url(../image/tel.png) left top no-repeat; text-indent: 46px; text-align: left; position: relative; left: 20px; }
.password .tel a:hover { background: url(../image/telBg.png) left top no-repeat; color: #b39242; }
.Report { background: url(../image/Report.png) left top no-repeat; height: 535px; padding-top: 100px; }
.Report li { height: 49px; line-height: 36px; position: relative; padding-left: 380px; font-size: 14px; }
.Report li em { position: absolute; left: 0px; top: 0px; display: block; width: 370px; text-align: right; }
.Report li .input1 { float: left; background: url(../image/input5.png) left top no-repeat; width: 278px; height: 36px; line-height: 36px; text-indent: 10px; font-size: 14px; }
.Report textarea { width: 458px; height: 81px; padding: 5px 10px; padding: 5px 10px; line-height: 20px; color: #666; background: url(../image/bg7.png) left top no-repeat; }
.Report .btn1 { float: left; width: 130px; height: 38px; font-size: 18px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.Report .btn2 { margin-left: 17px; background: url(../image/btn1.png) right top no-repeat; }
.memberBg { background: url(../image/memberBg.jpg) center top no-repeat; background-size: cover; min-height: 500px; _height: 500px; }
.memberTitle { height: 80px; }
.memberTitle h1 { float: left; padding: 28px 22px 0 0; }
.memberTitle .msg { white-space: nowrap; font-size: 14px; padding-top: 35px; }
.memberNav { width: 197px; background: #FFF; min-height: 554px; _height: 554px; padding: 26px 26px 10px 26px; }
.memberNav .imgDiv { padding-bottom: 15px; }
.memberNav h2 { font-size: 18px; color: #09437e; font-weight: 400; border-bottom: #09437e solid 2px; height: 40px; line-height: 40px; background: url(../image/ico7.png) right center no-repeat; cursor: pointer; margin-bottom: 5px; }
.memberNav .h2Now { background: url(../image/ico4.png) right center no-repeat; }
.memberNav .list { display: none; }
.memberNav li a { display: block; font-size: 14px; height: 36px; line-height: 36px; overflow: hidden; border-bottom: #ebebeb solid 1px; padding-left: 17px; background: url(../image/ico5.png) 5px center no-repeat; }
.memberNav li a:hover, .memberNav li .aNow { background: url(../image/ico6.png) 5px center no-repeat; color: #b39242; }
.pageTitle2 { height: 55px; background: url(../image/pageTitle2.gif) bottom repeat-x; position: relative; }
.pageTitle2 h1 { font-weight: 400; font-size: 18px; float: left; height: 45px; line-height: 45px; padding-top: 8px; white-space: nowrap; color: #b39242; border-bottom: #b39242 solid 2px; padding-right: 10px; }
.pageTitle2 .btn { position: absolute; top: 18px; right: 0px; display: block; font-size: 14px; color: #FFF; background: url(../image/btn4.png) left top no-repeat; width: 82px; height: 27px; line-height: 27px; text-align: center; }
.member_01 { background: url(../image/member_01.gif) bottom repeat-x; padding: 10px 0 15px 0; }
.member_01 li { height: 36px; line-height: 36px; font-size: 14px; overflow: hidden; position: relative; background: url(../image/line.gif) bottom repeat-x; }
.member_01 li span { position: absolute; top: 0px; right: 0px; white-space: nowrap; }
.member_01 li a { background: url(../image/ico5.png) left center no-repeat; padding-left: 12px; }
.member_01 li .span1 { right: 137px; }
.member_01 li em { position: absolute; top: 0px; right: 0px; white-space: nowrap; color: #104681; }
.member_02 { background: url(../image/member_01.gif) bottom repeat-x; padding: 5px 0 10px 0; font-size: 14px; }
.member_02 td { text-align: center; font-size: 14px; line-height: 24px; background: url(../image/line.gif) bottom repeat-x; padding: 8px 0; }
.member_02 td .name { text-align: left; background: url(../image/ico5.png) left 10px no-repeat; padding: 0 12px; }
.member_02 td a em { color: #b39242; }
.member_03 { width: 672px; overflow: hidden; position: relative; padding-top: 22px; }
.member_03 ul { width: 110%; }
.member_03 li { float: left; width: 154px; height: 160px; overflow: hidden; text-align: center; font-size: 14px; padding-right: 18px; font-size: 14px; line-height: 24px; }
.member_03 .name { padding-top: 8px; }
.memberNotice li { background: url(../image/line.gif) bottom repeat-x; padding: 15px 0 18px 0; }
.memberNotice .title { font-size: 16px; }
.memberNotice .content { font-size: 14px; line-height: 22px; text-align: justify; color: #999; padding: 8px 0; }
.memberNotice .time { width: 70px; height: 22px; background: #e8dec6; line-height: 22px; text-align: center; color: #ab8e4f; }
.Assessment { font-size: 14px; line-height: 24px; text-align: justify; padding: 18px 0; }
.Assessment .title { font-size: 18px; padding-bottom: 20px; }
.Performance { padding-top: 45px; width: 692px; }
.Performance li { float: left; width: 171px; height: 67px; overflow: hidden; }
.Performance a { display: block; background: url(../image/PerformanceBg1.png) left top no-repeat; width: 162px; height: 56px; line-height: 56px; text-align: center; font-size: 16px; }
.Performance a:hover { background: url(../image/PerformanceBg2.png) left top no-repeat; color: #FFF; }
.PerformanceForm { padding: 45px 0; }
.PerformanceForm li { padding: 0 0 13px 100px; font-size: 14px; min-height: 36px; _height: 36px; line-height: 36px; position: relative; }
.PerformanceForm em { position: absolute; left: 0px; top: 0px; display: block; width: 90px; text-align: right; }
.PerformanceForm textarea { border: #bbb solid 1px; width: 431px; height: 111px; padding: 5px 10px; line-height: 20px; font-size: 14px; }
.PerformanceForm .file { height: 36px; overflow: hidden; }
.PerformanceForm .file a { display: block; float: left; width: 98px; border: #185695 solid 1px; height: 34px; line-height: 34px; color: #FFF; background: #185695; text-align: center; }
.PerformanceForm .file .a1 { color: #185695; background: none; }
.PerformanceForm .input1 { float: left; height: 34px; line-height: 34px; text-indent: 10px; width: 252px; border: #bbb solid 1px; border-right: 0px; }
.PerformanceForm .btn1 { width: 130px; height: 38px; font-size: 14px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.PerformanceFormLayer { position: absolute; z-index: 100; background: url(../image/bg9.png) left top no-repeat; width: 585px; height: 327px; text-align: center; padding-top: 100px; display: none; margin-top: -100px; }
.PerformanceFormLayer .box { width: 323px; height: 168px; margin: 0 auto; border: #ccc solid 1px; }
.PerformanceFormLayer .msg { padding: 35px 0; font-size: 18px; }
.PerformanceFormLayer .btn a { display: inline-block; margin: 0 12px; font-size: 14px; color: #FFF; background: url(../image/btn5.png) center top no-repeat; width: 100px; height: 34px; line-height: 34px; }
.PerformanceFormLayer .btnDiv { padding-top: 29px; }
.PerformanceFormLayer .btnDiv a { display: inline-block; font-size: 14px; color: #FFF; background: url(../image/btn6.png) center top no-repeat; width: 100px; height: 34px; line-height: 34px; }
.Performance2 .title { font-size: 18px; padding: 20px 0; }
.Performance2 th { height: 36px; font-weight: 400; background: #ededed; font-size: 14px; }
.Performance2 td { font-size: 14px; text-align: center; height: 42px; background: url(../image/line.gif) top repeat-x; }
.Performance2 th div, .Performance2 td div { text-align: left; padding-left: 25px; }
.Performance2 .btn a { color: #104681; padding: 0 6px; }
.Performance2Layer { background: url(../image/Performance2Layer.png) left top no-repeat; width: 744px; height: 542px; position: absolute; z-index: 20; right: 50%; margin-right: -511px; top: 170px; font-size: 14px; display: none; }
.Performance2Layer .list { padding: 35px 0 0 30px; }
.Performance2Layer li { float: left; width: 170px; height: 96px; text-align: center; }
.Performance2Layer .name { font-size: 16px; background: url(../image/Performance2LayerBg.png) center top no-repeat; height: 56px; line-height: 56px; }
.Performance2Layer .msg { color: #094a8c; padding-top: 10px; }
.Performance2Layer .msg2 { color: #094a8c; border-top: #eee solid 1px; padding: 20px 0; font-size: 18px; margin: 0 38px; }
.memberNews { padding-top: 10px; }
.memberNews td { height: 46px; font-size: 14px; text-align: center; background: url(../image/line.gif) bottom repeat-x; }
.memberNews td div { text-align: left; }
.memberNews td em { color: #999; }
.memberNews .btn a { color: #104681; padding: 0 6px; }
.newsForm { padding: 40px 0; }
.newsForm li { height: 49px; line-height: 36px; position: relative; padding-left: 100px; font-size: 14px; }
.newsForm li em { position: absolute; left: 0px; top: 0px; display: block; width: 90px; text-align: right; }
.newsForm li .input1 { float: left; background: url(../image/input2.png) left top no-repeat; width: 278px; height: 36px; line-height: 36px; text-indent: 10px; font-size: 14px; }
.newsForm .btn1 { float: left; width: 130px; height: 38px; font-size: 14px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.newsForm .btn2 { background: url(../image/btn1.png) right top no-repeat; margin-left: 17px; }
.newsForm .li_01 { height: 220px; }
.newsForm .li_02 { height: 72px; }
.newsForm .li_02 .tips a { display: block; float: left; margin-left: 10px; background: url(../image/btn9.png) center no-repeat; width: 76px; height: 36px; text-align: center; color: #FFF; }
.newsForm .li_02 .msg { clear: both; font-size: 12px; color: #999; line-height: 30px; }
.newsForm textarea { float: left; background: url(../image/bg3.png); width: 465px; height: 190px; padding: 5px 10px; font-size: 14px; font-family: "微软雅黑"; color: #666; line-height: 22px; }
.newsForm .selectDiv { background: url(../image/select.png) left top no-repeat; width: 278px; height: 36px; line-height: 36px; }
.newsForm2 { min-height: 596px; position: relative; }
.newsForm2 li { padding-left: 120px; }
.newsForm2 li em { width: 110px; }
.newsForm2 .tips { float: left; white-space: nowrap; padding-left: 10px; }
.newsForm2 li .input2 { background: url(../image/input6.png) left top no-repeat; width: 124px; }
.memberProduct2 { padding: 13px 0; }
.memberProduct2 td { height: 101px; text-align: center; font-size: 14px; }
.memberProduct2 td div { text-align: left; }
.memberProduct2 .btn a { color: #104681; padding: 0 6px; }
.memberPlatformShow { padding: 20px 0; }
.memberPlatformShow .title { height: 37px; border-bottom: #ddd solid 1px; position: relative; font-size: 18px; color: #094a8b; }
.memberPlatformShow .title div { font-size: 14px; position: absolute; top: 6px; right: 0px; white-space: nowrap; color: #333; }
.memberPlatformShow .title div span { color: #888; padding-left: 35px; }
.memberPlatformShow .content { padding: 20px 0; font-size: 14px; line-height: 24px; text-align: justify; }
.memberPlatformShow .form { height: 113px; position: relative; padding: 24px 144px 0 0; }
.memberPlatformShow textarea { width: 503px; height: 71px; padding: 5px 10px; border: #ddd solid 1px; padding: 5px 10px; line-height: 20px; color: #666; }
.memberPlatformShow .btn1 { position: absolute; top: 68px; right: 0px; width: 130px; height: 38px; font-size: 14px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.memberPlatform2 li { background: url(../image/line.gif) top repeat-x; font-size: 14px; line-height: 24px; text-align: justify; padding: 18px 0; }
.memberPlatform2 .msg { padding-bottom: 12px; }
.memberPlatform2 .msg span { padding-left: 35px; color: #999; }
.memberInfo2 { padding-top: 20px; _height: 500px; position: relative; }
.memberInfo2 .imgDiv { position: absolute; left: 0px; top: 20px; }
.memberInfo2 .btn_1 { display: block; height: 38px; line-height: 38px; width: 296px; text-align: center; background: url(../image/bg6.png); font-size: 14px; color: #FFF; position: absolute; left: 0px; top: 135px; }
.memberInfo2 .form { padding-left: 338px; }
.memberInfo2 li { height: 45px; line-height: 36px; position: relative; padding-left: 75px; font-size: 14px; }
.memberInfo2 li em { position: absolute; left: 0px; top: 0px; white-space: nowrap; }
.memberInfo2 li .input1 { float: left; background: url(../image/input4.png) left top no-repeat; width: 257px; height: 36px; line-height: 36px; text-indent: 10px; font-size: 14px; }
.memberInfo2 .btn1 { float: left; width: 130px; height: 38px; font-size: 16px; color: #FFF; background: url(../image/btn1.png) left top no-repeat; }
.memberInfo2 .li_01 { height: 92px; }
.memberInfo2 textarea { width: 237px; height: 55px; padding: 5px 10px; padding: 5px 10px; line-height: 20px; color: #666; background: url(../image/bg4.png) left top no-repeat; }
.memberInfo2 .li_02 { height: 162px; }
.memberInfo2 .li_02 textarea { background: url(../image/bg5.png) left top no-repeat; width: 575px; height: 135px; }
.sideLad { width: 120px; min-height: 100px; _height: 100px; position: fixed; z-index: 20; left: 20px; top: 50%; text-align: right; font-size: 14px; line-height: 30px; margin-top: -150px; }
.sideRad { width: 120px; min-height: 100px; _height: 100px; position: fixed; z-index: 20; right: 20px; top: 50%; font-size: 14px; line-height: 30px; margin-top: -150px; }
.indexPart11 { min-height: 295px; }
.indexPart11 .list { width: 276px; height: 262px; position: relative; top: 17px; }
.indexPart11 .list2 { left: 30px; padding: 0 30px; border-left: #dfdfdf dashed 1px; border-right: #dfdfdf dashed 1px; }
.indexPart11 .name { height: 39px; line-height: 29px; position: relative; border-bottom: #12467d solid 1px; font-size: 18px; padding-left: 35px; }
.indexPart11 .name img { position: absolute; left: 0px; top: 5px; }
.indexPart11 th { font-size: 14px; font-weight: 400; height: 34px; border-bottom: #979797 dotted 1px; padding-top: 10px; }
.indexPart11 td { font-size: 14px; text-align: center; height: 34px; }
.indexPart11 td div, .indexPart11 th div { text-align: left; }
.indexPart11 li { border-bottom: #d8d8d8 dotted 1px; }
.sideBtn a { display: block; background: url(../image/bg8.png) left top no-repeat; height: 74px; line-height: 74px; text-align: center; font-size: 24px; }
.memberProductShow2 { height: 140px; position: relative; }
.memberProductShow2 .prev { display: block; position: absolute; z-index: 10; left: 0px; top: 0px; background: url(../image/prev.jpg) left top no-repeat; width: 31px; height: 93px; }
.memberProductShow2 .next { display: block; position: absolute; z-index: 10; right: 0px; top: 0px; background: url(../image/next.jpg) left top no-repeat; width: 31px; height: 93px; }
.memberProductShow2 .list { width: 648px; margin: 0 auto; overflow: hidden; position: relative; }
.memberProductShow2 li { float: left; width: 162px; text-align: center; cursor: pointer; }
.memberProductShow2 img { border: #ccc solid 1px; }
#Layer1 { position: absolute; position: fixed; _position: absolute; width: 100%; z-index: 99; top: 0; left: 0px; background-color: #000; display: none; }
.productShow { min-height: 500px; position: relative; font-size: 14px; }
.productShow .msg { text-align: right; height: 90px; line-height: 90px; }
.productShow .list { height: 300px; text-align: center; line-height: 24px; }
.productShow .list .imgDiv { padding-bottom: 15px; }
.productShow .name { font-size: 16px; line-height: 30px; }
.productShow .content { line-height: 24px; text-align: justify; padding: 5px 0 50px 0; }
.productShow .prev { display: block; position: absolute; z-index: 10; left: 0px; top: 167px; background: url(../image/prev.png) left top no-repeat; width: 58px; height: 58px; }
.productShow .prev:hover { background: url(../image/prevon.png) left top no-repeat; }
.productShow .next { display: block; position: absolute; z-index: 10; right: 0px; top: 167px; background: url(../image/next.png) left top no-repeat; width: 58px; height: 58px; }
.productShow .next:hover { background: url(../image/nexton.png) left top no-repeat; }
.yqtj { padding: 242px 0 0 230px; min-height: 434px; }
.yqtj li { height: 99px; }
.yqtjSellLayer { background: url(../image/yqtjSellLayer.png) left top no-repeat; width: 319px; height: 314px; position: absolute; top: -15px; right: -35px; padding: 0 40px; display: none; }
.yqtjSellLayer .name { font-size: 18px; padding: 33px 0 10px 0; }
.yqtjSellLayer .btn { height: 40px; }
.yqtjSellLayer .btn a { display: block; float: left; width: 66px; height: 34px; line-height: 34px; text-align: center; font-size: 14px; color: #FFF; margin-right: 10px; background: url(../image/btn7.png) right top no-repeat; }
.yqtjSellLayer .btn .a1 { background: url(../image/btn7.png) left top no-repeat; }
.yqtjSellLayer th { height: 34px; border-bottom: #999 solid 1px; text-align: left; font-weight: 400; font-size: 14px; }
.yqtjSellLayer td { height: 30px; border-bottom: #ccc solid 1px; font-size: 14px; }
.yqtjSellLayer .close { display: block; background: url(../image/close.png) left top no-repeat; width: 30px; height: 30px; position: absolute; top: 20px; right: 20px; }
.yqtjList .btn { padding-top: 29px; height: 47px; }
.yqtjList .btn li { float: left; padding-right: 15px; }
.yqtjList .btn a { display: block; width: 145px; height: 31px; line-height: 31px; text-indent: 18px; font-size: 16px; background: url(../image/ico8.png) 129px center no-repeat; }
.yqtjList .btn a:hover, .yqtjList .btn .on { background: url(../image/btn8.png) left top no-repeat; color: #FFF; }
.yqtjList th { height: 37px; font-size: 14px; font-weight: 400; background: #ededed; }
.yqtjList td { height: 41px; font-size: 14px; text-align: center; color: #666; border-bottom: #ccc dotted 1px; }
.yqtjList td .info { text-align: left; color: #09437e; padding-left: 20px; }
.yqtjList td .info2 { color: #b39242; }
.memberNews2 { padding: 10px 0; }
.memberNews2 li { height: 37px; line-height: 36px; position: relative; overflow: hidden; background: url(../image/line.gif) bottom repeat-x; font-size: 14px; }
.memberNews2 li span { position: absolute; top: 0px; right: 0px; }
.memberNews2 li a { background: url(../image/ico5.png) left center no-repeat; padding-left: 13px; }
.memberNewshow { padding: 30px 0; text-align: center; }
.memberNewshow .title { font-size: 18px; }
.memberNewshow .time { color: #999; padding: 13px 0 20px 0; }
.memberNewshow .content { text-align: justify; padding-bottom: 50px; font-size: 14px; line-height: 26px; }
.pageTab2 { padding-top: 20px; height: 60px; }
.pageTab2 li { float: left; margin-right: 1px; height: 29px; line-height: 29px; padding: 0 35px; border: #FFF solid 1px; font-size: 14px; }
.pageTab2 li a { background: url(../image/ico8.png) right center no-repeat; padding-right: 17px; }
.pageTab2 .liNow { background: url(../image/pageTab2.png) top repeat-x; border: #036fc5 solid 1px; }
.pageTab2 .liNow a { background: url(../image/ico9.png) right center no-repeat; color: #FFF; }
.pageTitle3 { padding: 20px 0; font-size: 18px; }
.faq { padding: 20px 0; font-size: 14px; line-height: 22px; }
.faq .content { min-height: 22px; padding: 6px 0 20px 2em; color: #666; position: relative; }
.faq .content span { position: absolute; left: 0px; top: 6px; white-space: nowrap; }
.yqtjLayer { position: absolute; z-index: 20; top: 169px; right: 50%; margin-right: -511px; width: 399px; display: none; }
.yqtjLayer .title { background: url(../image/bgT.png) left top no-repeat; min-height: 20px; position: relative; font-size: 18px; padding: 30px 30px 10px 30px; }
.yqtjLayer .close { display: block; background: url(../image/close.png) left top no-repeat; width: 30px; height: 30px; position: absolute; top: 10px; right: 10px; }
.yqtjLayer .bg { background: url(../image/bg10.png) left bottom no-repeat; padding: 0 30px 30px; min-height: 50px; }
.yqtjLayer th { border-left: #CCC solid 1px; border-bottom: #999 solid 1px; font-weight: 400; font-size: 14px; padding-bottom: 6px; }
.yqtjLayer td { border-left: #CCC solid 1px; border-top: #CCC solid 1px; font-size: 14px; height: 38px; text-align: center; }
.yqtjLayer .blue { color: #09447f; }
.yqtjLayer .red { color: #d20303; }
.yqtjLayer .green { color: #28cc17; }
.yqtjLayer .orange { color: #f1761b; }
.yqtjLayer2 { background: url(../image/bg11.png) left top no-repeat; width: 547px; height: 374px; position: absolute; z-index: 100; left: 10px; top: 10px; display: none; }
.yqtjLayer2 .list { padding: 50px 60px; }
.yqtjLayer2 li { float: left; width: 50%; height: 50px; line-height: 50px; overflow: hidden; border-bottom: #dadada solid 1px; font-size: 14px; }
.yqtjLayer2 .li_01 { border: 0px; height: 67px; }
.yqtjLayer2 .btnDiv { text-align: center; }
.yqtjLayer2 .btnDiv a { display: inline-block; font-size: 18px; color: #FFF; background: url(../image/btn10.png) left top no-repeat; width: 130px; height: 38px; line-height: 38px; }

/* ------------------------------------------------------------------------------------------------------------------------------------- */

/* 170804 */
.w721 { width: 721px; background: #FFF; min-height: 580px; _height: 580px; }
.indexPart2-1 { text-align: left; }
.indexPart2-1 .list-title { padding-left: 44px; font-size: 18px; color: #154983; position: relative; line-height: 48px; border-bottom: 1px solid #154983; }
.indexPart2-1 .list-title a { font-size: 12px; color: #666; position: absolute; right: 0; }
.indexPart2-1 .list-1 .list-title { background: url("../image/list-title-1.png") no-repeat center left; }
.indexPart2-1 .list-2 .list-title { background: url("../image/list-title-2.png") no-repeat center left; }
.indexPart2-1 .list-3 .list-title { background: url("../image/list-title-3.png") no-repeat center left; }
.indexPart2-1 table { text-align: center; z-index: 10; }
.indexPart2-1 table th { font-size: 14px; color: #9c7618; line-height: 44px; border-bottom: 1px solid #ccc; }
.indexPart2-1 table td { border-bottom: 1px dashed #d9d9d9; font-size: 14px; line-height: 40px; }
.indexPart2-1 table th:first-child, .indexPart2-1 table td:first-child { text-align: left; }
.indexPart2-1 table tr:last-child td { border-bottom: none; }
.indexPart2-1 .list-1, .indexPart2-1 .list-2, .indexPart2-1 .list-3 { padding: 26px 0; }
.indexPart2-1 .list-1:hover .list-bg, .indexPart2-1 .list-2:hover .list-bg, .indexPart2-1 .list-3:hover .list-bg { position: absolute; left: 0; width: 100%; height: 268px; background: rgba(171, 171, 171, 0.2); margin-top: -20px; }
.memberNav-1 { padding-left: 330px; margin-top: 30px; }
.memberNav-1 ul li { float: left; text-align: center; border: 1px solid #999; margin: 0 9px; }
.memberNav-1 ul li a { font-size: 16px; color: #333; display: block; width: 141px; height: 35px; line-height: 35px; }
.memberNav-1 .liNow-1 { background: #2563a1; }
.memberNav-1 .liNow-1 a { color: #fff; }
.sellInfo { position: relative; }
.sellInfo .sellTab { border: 1px solid #ededed; height: 48px; padding-left: 24px; }
.sellInfo .sellTab ul li { float: left; width: 142px; height: 48px; text-align: center; }
.sellInfo .sellTab ul li a { display: block; width: 142px; font-size: 16px; color: #333; line-height: 48px; }
.sellInfo .sellTab ul li.on { border: 1px solid #ededed; border-top: 2px solid #2563a1; background: #fff; border-bottom: none; }
.sellInfo .sellList { width: 702px; margin: 0 auto; }
.sellInfo .sellList .hd { padding: 0 16px; background: #f6fafd; font-size: 14px; }
.sellInfo .sellList .hd span { background: url("../image/rili.png") no-repeat center left; padding-left: 26px; color: #000; line-height: 40px; margin-right: 20px; }
.sellInfo .sellList .sList-1 { border: 1px solid #e8e8e8; margin-top: 66px; }
.sellInfo .sellList .sList-2 { margin-bottom: 106px; display: table; }
.sellInfo .sellList .content table { font-size: 14px; color: #000; text-align: center; padding: 0 16px; line-height: 26px; }
.sellInfo .sellList .content table .first-td { text-align: left; }
.sellInfo .sellList .content table .red { color: #d14120; }
.sellInfo .sellList .content table .blue { color: #2563a1; }
.sellInfo .sellList .content table tr td { padding: 38px 0; border-bottom: 1px solid #e5e5e5; }
.sellInfo .sellList .content p { color: #666; color: #666; text-align: center; font-size: 16px; padding: 28px 0; }
.sellInfo .sellList h5 { font-size: 16px; width: 126px; height: 36px; background: #acacac; color: #fff; line-height: 36px; text-align: center; font-weight: normal; margin-bottom: 24px; margin-top: 22px; }
.sellInfo .sellList .info-1 ul li { font-size: 14px; color: #333; text-align: left; }
.sellInfo .sellList .info-1 ul li ol { padding-left: 16px; }
.sellInfo .sellList .info-1 ul li ol li { line-height: 24px; padding: 4px 0; }
.sellInfo .sellList .info-1 .info-1-1, .sellInfo .sellList .info-1 .info-1-2, .sellInfo .sellList .info-1 .info-1-3 { float: left; width: 33.3%; box-sizing: border-box; }
.sellInfo .sellList .info-1 .info-1-1 { padding-right: 44px; }
.sellInfo .sellList .info-1 .info-1-2 h5, .sellInfo .sellList .info-1 .info-1-3 h5 { background: #b89746; }
.sellInfo .sellList .info-1 .info-1-2 { padding-right: 42px; background: url("../image/line-1.png") no-repeat left; }
.sellInfo .sellList .info-1 .info-1-3 { background: url("../image/line-1.png") no-repeat left 26px; }
.sellInfo .sellList .info-1 .info-1-3 .imgDiv { padding-left: 32px; position: relative; width: 212px; }
.sellInfo .sellList .info-1 .info-1-3 .imgDiv input { position: absolute; top: 0; left: 32px; width: 212px; height: 100%; opacity: 0; }
.sellInfo .sellList .info-1 .info-1-3 .imgDiv img { max-width: 158px; max-height: 211px; }
.sellInfo .Layer-1 { position: fixed; top: 50%; left: 50%; width: 464px; background: #fff; box-shadow: 0px 0px 16px #999; margin-top: -206px; margin-left: -70px; padding-top: 36px; box-sizing: border-box; z-index: 1000; display: none; padding-bottom: 40px; }
.sellInfo .Layer-1.on { display: block; }
.sellInfo .Layer-1 ul li { font-size: 14px; color: #333; line-height: 54px; border-bottom: 1px solid #dadada; width: 372px; margin: 0 auto; }
.sellInfo .Layer-1 ul li input { font-size: 14px; color: #333; line-height: 54px; }
.sellInfo .Layer-1 a { display: block; width: 132px; height: 40px; margin: 0 auto; text-align: center; color: #fff; font-size: 18px; background: #094a8b; line-height: 40px; border-radius: 4px; margin-top: 32px; }
.sellInfo .sellList .btn-1 { padding-left: 246px; padding-top: 26px; padding-bottom: 40px; }
.sellInfo .sellList .btn-1 a { font-size: 16px; color: #fff; display: inline-block; background: #b89746; line-height: 34px; width: 135px; height: 34px; text-align: center; margin-left: 8px; }
.sellInfo .sellList .btn-1 a.first { background: #acacac; }
.layer-bg { position: fixed; top: 0; left: 0; width: 100%; height: 100%; display: none; }
.layer-bg.on { display: block; }
.jydpTab { padding-left: 236px; }
.jydpTab li { padding: 0 24px; }
.jydpTab .jydp-1 { background: url("../image/img25_4.png") no-repeat  left center; width: 70px; padding-left: 40px; }
.jydpTab .jydp-2 { background: url("../image/img25_5.png") no-repeat  left center; width: 70px; padding-left: 40px; }
.jydpTab .jydp-3 { background: url("../image/img25_6.png") no-repeat  left center; width: 70px; padding-left: 40px; }

/* .jydpTab li:hover { background: #2563a1; } */
.jydpTab li.liNow-1 .jydp-1 { background: url("../image/img25_4on.png") no-repeat  left center; color: #fff; }
.jydpTab li.liNow-1 .jydp-2 { background: url("../image/img25_5on.png") no-repeat  left center; color: #fff; }
.jydpTab li.liNow-1 .jydp-3 { background: url("../image/img25_6on.png") no-repeat  left center; color: #fff; }
.Performance2 .chart { width: 668px; height: 224px; margin-bottom: 14px; margin-top: -26px; }
.Layer-1-3 .imgDiv { width: 158px; height: 211px; margin: 0 auto; text-align: center; position: relative; }
.Layer-1-3 .imgDiv img { width: 158px; height: 211px; }
.Layer-1-3 .imgDiv input { position: absolute; top: 0; left: 0; width: 100%; height: 100%; cursor: pointer; opacity: 0; }
.Layer-1-3 p { text-align: center; font-size: 16px; line-height: 40px; }