<style type="text/css">
.mx-parent-menu { height:30px; line-height:30px; }
</style>
<%import class="Menu" method="getmenuinfo,readpmenu,getlivs"%>
<div class="ui-state-default left-tree-top" style="margin-right:0;">
	<span>栏目管理 -- 修改栏目</span>
</div>
<div class="mx-parent-menu"><img src="images/lists.png" align="absmiddle" border="0" />上级栏目：<%$TITLE_GUID%></div>
<div class="mx-formpanel">
	<form class="ajaxform" method="post" action="sys/column/do/?Menu-edit/id/<%$info.id%>.html">
	<fieldset style="width:400px;">
	  <legend>修改栏目</legend>
	<textarea name="formDataInfo" class="mx-formdata"><%$data%></textarea>
	  <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="400">
		  	<label>栏目名称</label>
			<input type="text" name="title" dataType="Require" itip="请填写栏目名称" /><input name="parent_id" type="hidden" value="<%$PARENT_ID%>" />
		  </td>
        </tr>
        <tr>
          <td width="400">
		  	<label>应用类型</label>
			<select name="typeid" dataType="Require" itip="请填写栏目名称">
				<option value="1">网站导航</option>
			  	<option value="2">网站管理</option>
			</select>
		  </td>
        </tr>
		<% if($_GET['pid']>0){ %>
		<tr>
          <td width="400">
		  	<label>组件实例</label>
			<select name="livsid" onchange="__menucompsel(this)">
				<option value="-1">选择组件实例</option>
				<%loop from="LIVS" item="list"%>
				<option value="<%$list.id%>">【<%$list.appname%>】<%$list.livname%>(<%$list.proname%>)</option>
				<%/loop%>
				<option value="0">自定义连接</option>
			</select>
		  </td>
        </tr>
		<tr id="sys-menu-livetypeid" style="display:<% if($VAL['info']['livsid']==0){ %>none<% }else{ %>block<% } %>;">
          <td width="400">
		  	<label>实例分类</label>
			<select name="livtyid">
				<option value="0">当前分类</option>
				<option value="all">所有分类</option>
			</select>
		  </td>
        </tr>
		<tr id="sys-menu-admurl" style="display:<% if($VAL['info']['livsid']==0){ %>block<% }else{ %>none<% } %>;">
          <td width="400">
		  	<label>自定义连接</label>
			<input name="admurl" type="text" />
		  </td>
        </tr>
		<% } %>
		<tr>
          <td width="400">
		  	<label>前台动态URL(单页或者文章详细页无域名连接,(tid)栏目ID,(id)文章ID)</label>
			<input name="frturl" type="text" value="" />
		  </td>
        </tr>
		<tr>
          <td width="400">
		  	<label>生成URL (tid)栏目ID,(id)文章ID,(Y)年,(M)月,(D)日)</label>
			<input name="crturl" type="text" value="" />
		  </td>
        </tr>
		<tr>
          <td width="400">
		  	<label>排　　序</label>
			<input name="sort" type="text" value="0" />
		  </td>
        </tr>
		<tr>
          <td width="400" class="mx-form-submit">
		  	<input type="submit" name="submitButton" value="提　交" />
		  </td>
        </tr>
      </table>
	  </fieldset>
	</form>
</div>
<script type="text/javascript">
function __menucompsel(t)
{
	var v = $(t).val(),
		osel = $("#sys-menu-admurl"),
		olitype = $('#sys-menu-livetypeid');
	if(v==0){
		osel.show();
		$('input[name="admurl"]').val("");
		olitype.hide();
	}else{
		if(v==-1)
			$('input[name="admurl"]').val("");
		osel.hide();
		olitype.show();
	}
}
</script>